# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Sensitive / environment-specific configuration
Config.swift
GoogleService-Info.plist

# Swift Package Manager
.build/
.swiftpm/

# Other
*.swp
*~
